@import url("https://fonts.googleapis.com/css?family=Lato|Permanent+Marker");
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px; }

.primary-color {
  color: #000000; }

.secondary-color {
  color: #fff; }

.primary-bg-color {
  background-color: #550055; }

.secondary-bg-color {
  background-color: #fff; }

.xs-height {
  height: 50px; }

.sm-height {
  height: 100px; }

.md-height {
  height: 150px; }

.lg-height {
  height: 250px; }

.xl-height {
  height: 500px; }

.full-vh {
  height: 100vh; }

.hundred-height {
  height: 100%; }

.marker {
  font-family: 'Permanent Marker', cursive; }

.lato {
  font-family: 'Lato', sans-serif; }

.pink-floyd {
  font-family: 'pink-floyd', 'cursive'; }

.xs-font {
  font-size: 0.5em; }

.sm-font {
  font-size: 1em; }

.md-font {
  font-size: 1.25em; }

.lg-font {
  font-size: 1.5em; }

.xl-font {
  font-size: 2em; }

.xxl-font {
  font-size: 2.5em; }

.display-block {
  display: block; }

.display-inline-block {
  display: inline-block; }

.display-none {
  display: none; }

.margin-null {
  margin: 0; }

.padding-null {
  padding: 0; }

.fill {
  height: 100%;
  width: 100%; }

.flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-space-around {
  justify-content: space-around; }

.justify-space-between {
  justify-content: space-between; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.align-center {
  align-items: center; }

.align-space-around {
  align-items: space-around; }

.align-space-between {
  align-items: space-between; }

.position-relative {
  position: relative; }

.position-fixed {
  position: fixed; }

.position-absolute {
  position: absolute; }

.top-0 {
  top: 0px; }

.bottom-0 {
  bottom: 0px; }

.left-0 {
  left: 0px; }

.right-0 {
  right: 0px; }

.img-fill {
  background-size: cover;
  background-position: center; }

.attatchment-fixed {
  background-attachment: fixed; }

.hidden {
  visibility: hidden; }

/* cursor pointers */
.pointer {
  cursor: pointer; }

/* Begin header Styles */
.header {
  background-color: #550055;
  color: #fff;
  transition: all 0.5s;
  height: 10px; }

.header-container {
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  height: 100%; }

.header-item-box {
  background-color: #770077;
  border: 2px solid #550055; }

.logo-box h3 {
  font-size: 3em;
  margin: 0; }

.open-button {
  padding: 5px 10px;
  position: relative;
  left: 50%;
  transition: all 0.5s;
  transform: translateX(-50%);
  background-color: #990099;
  border: 2px solid #770077;
  border-radius: 10%; }

@media only screen and (max-width: 768px) {
  .hundred-height {
    height: 150px; }

  #header, .header-container {
    height: 300px; }

  #header-overwrite {
    opacity: 1; }

  .open-button {
    display: none; } }
/* End header styles */
/* Begin container styles */
.content-container {
  float: left;
  min-height: 100vh;
  overflow: hidden;
  transition: all 0.5s;
  width: 1%; }

.content-container-1 {
  border: 1px solid #770077;
  background-color: #770077; }

.content-container-2 {
  border: 1px solid #990099;
  background-color: #990099; }

.content-container-3 {
  border: 1px solid #bb00bb;
  background-color: #bb00bb; }

.content-container-4 {
  border: 1px solid #ff00ff;
  background-color: #ff00ff; }

.content-container > div {
  visibility: hidden;
  padding: 10px; }

.active-content {
  width: 97%;
  background-color: #fff; }

.active-content > div {
  visibility: visible; }

/* End Container Styles */
/* Begin pane 1 styles */
.buttonlink {
  background-color: #550055;
  color: #ff00ff;
  padding: 10px; }

.button-anchor {
  text-decoration: none; }

/*End Pane 1 Styles */
/* Begin pane 2 Styles */
.keycode-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

#keypressBox {
  background: grey;
  box-shadow: 3px 3px 3px #aaa;
  padding: 10px; }

#keycodeBox {
  font-size: 20em; }

/* End pane 2 styles */
/* Begin pane 3 styles */
.fakenav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 8px 32px 8px 16px;
  background-color: #550055;
  position: relative; }

.fakenav button {
  padding: 8px 16px;
  border: 1px solid #221e1c;
  background-color: #550055;
  color: #d8a90e;
  border-radius: 100px 100px;
  cursor: pointer; }

.fakenav button:hover {
  border-color: #221e1c;
  background-color: #770077;
  color: #f1c227; }

.fakenav button span:first-child {
  display: inline-block;
  font-size: 125%; }

.fakenav form {
  background-color: #550055;
  padding: 8px 16px;
  position: absolute;
  top: 100%;
  right: 16px;
  display: flex;
  flex-direction: column; }

.fakenav form.form-hidden {
  display: none; }

.fakenav form input:not(:last-child) {
  margin-bottom: 4px;
  border: 0;
  padding: 8px;
  font-size: inherit; }

.fakenav form input:last-child {
  align-self: flex-end;
  padding: 8px 16px;
  margin-top: 4px;
  border-radius: 2px;
  color: white;
  border: 1px solid #770077;
  background-color: #990099;
  cursor: pointer; }

.fakenav form input:last-child:hover {
  border-color: #990099;
  background-color: #bb00bb; }

.fakenav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.fakenav #userProfiles {
  position: absolute;
  top: calc(100% + 8px);
  left: 16px;
  background-color: #550055;
  padding: 16px;
  font-family: sans-serif; }

.fakenav #userProfiles::before {
  content: 'Users';
  display: block;
  background-color: #fff;
  color: #550055;
  padding: 4px; }

.fakenav #userProfiles::after {
  content: '';
  display: block;
  border-width: 0px 16px 8px 16px;
  border-style: solid;
  border-color: transparent transparent #550055 transparent;
  position: absolute;
  bottom: 100%;
  left: 16px; }

.fakenav #userProfiles > li {
  padding: 8px 0 0;
  display: flex;
  align-items: center;
  color: #fff; }

.fakenav #userProfiles > li:not(:last-child) {
  padding: 8px 0;
  border-bottom: 1px solid #5a5049; }

.fakenav #userProfiles ul {
  display: flex;
  flex-wrap: wrap;
  width: 28px;
  height: 28px; }

.fakenav #userProfiles ul li {
  flex: none;
  width: 25%; }

.fakenav #userProfiles h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: 200;
  margin-left: 8px;
  color: white; }

/* End pane 3 styles */
/* Begin pane 4 styles */
.contact-header-text {
  color: #550055;
  text-shadow: 2px 2px 2px rgba(255, 0, 255, 0.4); }

.contact-container {
  border: 2px solid #550055;
  background-color: rgba(255, 0, 255, 0.2);
  box-shadow: 3px 3px 3px #550055; }

.fa {
  color: #550055;
  font-size: 2em; }

.contact-text {
  margin-bottom: 5px;
  margin-top: 5px; }
